
.detail__element{
    
    padding:90px;
    text-transform: uppercase;
    font-size: large;
}
.detail__element_n{
    
    padding:90px;
    text-transform: uppercase;
    font-size: large;
    color:red;
}
.detail__element_p{
    
    padding:90px;
    text-transform: uppercase;
    font-size: large;
    color:lightgreen;
}

.detail__table
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:100px;
    border:none;
}

.detail__info{
    color: #888888;
    margin-bottom:100px;
    text-transform: uppercase;
    font-size: large;
}

