.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.header_budget{
    color: #1DB954;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.logout{
    cursor: pointer;
}