
.historyRow{
    margin-left: 20px;
    padding: 20px;
    display: inline;
    align-items: center;
    color: white;
}

.historyRow__info{
    margin-left: 20px;
}

.historyRow__info > h2 {
    font-size: 16px;
}

.history_line{
    color:white;
    border: 1px solid #585858;
    
}
.history__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:30px;
    color: #585858;
    text-transform: uppercase;
}
.history__table
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border:none;
}

.history__element{
    border: 0;
    table-layout: fixed;
    width:100%;
    border-style: hidden;
    margin:30px;
    font-size: medium;
    align-items: center;
    border:none;
    
}
.history__table:hover{
    /*cursor: pointer;*/
    background-color: black;
    opacity: 0.8;
    margin: 10px;
}
.table{
    color:white;
    border:none;
    
}
