.historyRow{
    margin-left: 20px;
    padding: 20px;
    display: grid;
    color: white;
}

.historyRow__info{
    margin-left: 20px;
}

.historyRow__info > h2 {
    font-size: 16px;
}

.history_line{
    color:white;
    border: 1px solid #585858;
    
}

.table
{
    display: flex;
    color:white;
    border-style: hidden;
    border-bottom-style: hidden;
    border-top-style: hidden;
}

.element{
    border: 0;
    table-layout: fixed;
    width:100px;
    border-style: hidden;
    margin:30px;
}
.table:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}