.register > text{
    color: white;
}

.form{
    display:flex; 
    flex-direction: column;
}
.submit {
    clear: both;
    display: block;
    margin: 50px auto;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #b91d37;
    border-radius: 30px;
    color: RGBA(231, 252, 255, 1);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.register{
    clear: both;
    display: block;
    margin: 50px auto;
    width: 240px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    color: RGBA(231, 252, 255, 1);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.username{
    display:flex; 
    flex-direction: column;
    width: 360px;
    height: 35px;
    background-color: rgba(46, 47, 51, 0.75);
    border-radius: 3px;
    padding-left: 10px;
    color: rgb(136, 137, 140);
    font-size: 12px;
    outline: none;
    border: none;
    margin-top: 15px;
}
.email{
    display:flex; 
    flex-direction: column;
    width: 360px;
    height: 35px;
    background-color: rgba(46, 47, 51, 0.75);
    border-radius: 3px;
    padding-left: 10px;
    color: rgb(136, 137, 140);
    font-size: 12px;
    outline: none;
    border: none;
    margin-top: 15px;
}
.errors{
    color:red;
    font-size: 13px;
    text-transform: lowercase;
}

.password{
    display:flex; 
    flex-direction: column;
    width: 360px;
    height: 35px;
    background-color: rgba(46, 47, 51, 0.75);
    border-radius: 3px;
    padding-left: 10px;
    color: rgb(136, 137, 140);
    font-size: 12px;
    outline: none;
    border: none;
    margin-top: 15px;
}

.confirm_password{
    display:flex; 
    flex-direction: column;
    width: 360px;
    height: 35px;
    background-color: rgba(46, 47, 51, 0.75);
    border-radius: 3px;
    padding-left: 10px;
    color: rgb(136, 137, 140);
    font-size: 12px;
    outline: none;
    border: none;
    margin-top: 15px;
}